---
import Navbar from '../components/core/layout/Navbar'
import Gallery from '../components/dynamic-page/layout/Gallery'
import Description from '../components/dynamic-page/layout/Description'
import Layout from '../layouts/Layout.astro'
import { DYNAMIC_ID } from '../utilities/constants/dynamic-pages'
import PriceOfPerfumes from '../components/dynamic-page/layout/PriceOfPerfumes'

export const getStaticPaths = () => {
  return DYNAMIC_ID.map(({ category, data, id }) => {
    return {
      params: { category, id },
      props: { data, category },
    }
  })
}
const { data, category } = Astro.props

const descriptionPerfumes = [
  {
    name: 'Genero',
    value: data?.genre == 'Woman' ? 'Mujer' : 'Hombre',
  },
  {
    name: 'Marca',
    value: data?.brand,
  },
  {
    name: 'Familias Olfativas',
    value: data.olfactory_families.join(', '),
  },
]
---

<Layout>
  <Navbar client:load />
  <main class='text-black grid grid-cols-1 lg:grid-cols-2 gap-8 p-8 test justify-center'>
    <Gallery client:load imgDefault={data.img} images={data.allImages} />

    <article class=''>
      <h2 class='text-3xl font-basicaline font-semibold'>{data?.name} - Inspirado en {data?.inspiration}</h2>
      <p class='text-gray-600'>{data?.highlight}</p>
      <PriceOfPerfumes prices={data.allImages} client:load />
      <Description description={data.description} info={descriptionPerfumes} client:load />
    </article>
  </main>
</Layout>
